<div class="timesheets__content">
  <div class="timesheets__header">
    <h1> Timesheet Uploads </h1>
  </div>

  <div class="timesheets__form">
    <%= form_with(model: @timesheet, url: timesheets_path) do |form| %>
      <div>
        <%= form.label :timesheet_filename %>
        <%= form.file_field :filename, required: true %>
      </div>

      <%= form.submit "Submit", class: "button__cta" %>
    <% end %>
  </div>
</div>
