<div class="timesheets__content">
  <div class="timesheets__header">
    <h1> Timesheet Uploads </h1>
  </div>

  <div class="timesheets__form">
    <%= form_with(model: @timesheet, url: timesheets_path) do |form| %>
      <div>
        <%= form.label :timesheet_filename %>
        <%= form.file_field :filename, required: true %>
      </div>

      <%= form.submit "Submit", class: "button__cta" %>
    <% end %>
  </div>

  <div class="timesheets__info">
    <h3> Payroll Report Generation </h3>
    <ul>
      <li>To access the payroll report for any time period using Postman/your preferred app:</li>
      <li>Make a request to: <a href="https://payroll-design-06d15c5e3dcc.herokuapp.com/api/v1/payroll_reports">https://payroll-design-06d15c5e3dcc.herokuapp.com/api/v1/payroll_reports</a></li>
      <li>You can receive the current payroll for this month and year </li>
      <li> Or provide your preferred month and year <code> ?month=1&year=2023 </code> </li>
    <ul>
  </div>
</div>
